*{
    margin: 0px;
    padding: 0px;
    clear: both;
}

.topHeader{
   
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    height: 336px;
    background-color: #101010;
}
.topHeader h1{
    font-weight: 100;
     font-style: italic;
    font-size: 130px;
}
.topHeader hr{
    background-color:white; 
    margin: auto;
    display: block;
    width: 850px;
}
.navbar{
    font-size: 25px;
    font-weight: 1000;
    display: inline;
}
.navbar ul{
    margin-top: 20px;
    list-style: none;

    
}
.navbar ul li{
    margin-left: 40px;
    display: inline;

}
.navbar a{
    color: white;
    text-decoration: none;
    -webkit-transition: color .5s ;
    -moz-transition: color .5s ;
    transition: color .5s ;
}

/*  BREAKPOINT */

.navbar a:hover{
    color: orange;
}